
.ex-01-contaier {
    display: grid;
    grid-template-columns: 200px 75px;
}

.ex-01-dev-01 {
    background-color: rgb(72, 136, 255);
}

.ex-01-dev-02 {
    background-color: rgb(255, 91, 91);
}


.ex-02-contaier {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}

.ex-02-dev-01 {
    background-color: rgb(72, 136, 255);
}

.ex-02-dev-02 {
    background-color: rgb(255, 91, 91);
}

.ex-02-dev-03 {
    background-color: rgb(72, 136, 255);
}

.ex-03-contaier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.ex-03-dev {
    background-color: rgb(255, 91, 91);
}