@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.ex-5a {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.ex-5b  {
    font-family: Arial, Helvetica, sans-serif;
}

.ex-5b-title {
    font-size: 24px;
    font-weight: bold;
}

.ex-5b-info {
    font-size: 20px;
    color: red;
    font-style: italic;
}

.ex-5c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.ex-5c-title {
    font-size: 24px;
    font-weight: bold;
    
}

.ex-5c-info {
    font-size: 20px;
    color: gray;
    margin-top: 5px;
}

.ex-5c-details {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.ex-5d {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.ex-5d-title {
    font-size: 24px;
    font-weight: bold;
}

.ex-5d-info {
    font-size: 20px;
    font-weight: 500;
}

.ex-5d-link a{
    text-decoration: none;
    color: rgb(17, 140, 255);
}