
.image-styles-01 {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.image-styles-02 {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    border: 2px solid black;
}

.image-styles-03 {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    border: 2px solid black;
    border-radius: 100px;
}

.search-bar-01{
    padding: 10px 20px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    color: gray;
    font-weight: 500;
    font-size: 18px;
}

.search-bar-02{
    padding: 10px 20px;
    width: 350px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 30px;
    color: gray;
    font-weight: 500;
    font-size: 18px;
}

.text-details {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: gray;
}

.search-bar-03{
    padding: 10px 20px;
    width: 350px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    color: gray;
}

.signup-button {
    color: white;
    padding: 10px 150px;
    background-color: rgb(17, 79, 248);
    border: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.image-styles-04 {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    border: none;
    border-radius: 100px;
    vertical-align: middle;
    border: 1px solid black;
}

.search-bar-04 {
    color: gray;
    border: none;
    width: 300px;
    font-size: 18px;
    vertical-align: middle;
}


.tweet-button {
    display: inline-block;
    background-color: rgb(2, 133, 255);
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}